/* ====================
COMPONENT: LOGIN
==================== */
.login {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.login__logo {
  border-radius: 50%;
  max-width: 400px;
}

.login__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
}

.login__input {
  width: 100%;
  border: none;
  padding: 0.4rem 0.8rem;
}

.login__input--email {
  border-top-right-radius: 10px;
}

.login__btn {
  background-color: #336699;
  color: #f0f0f0;
  border: none;
  border-bottom-left-radius: 10px;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  width: 100%;
}

.login__footer .footer__container {
  position: static;
  text-align: center;
  margin-top: auto;
  width: 100%;
}

/* ====================
COMPONENT: HOME
==================== */

/* ====================
COMPONENT: USERS
==================== */
.users {
  max-width: 1200px;
  width: 100%;
  padding: 1rem;
}

.users__btn {
  color: #f0f0f0;
  background-color: #336699;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.users__table th,
.users__table td {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #dee2e6;
}

.users__btn--edit {
  background-color: #ffc107;
  border: none;
  padding: 0.4rem;
  border-radius: 10px;
}

.users__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: auto;
}

.users__form > div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.users__label {
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

.users__input {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
}

.users__btn--save {
  width: 100%;
  background-color: #198754;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  transform: background-color 0.3s ease;
}

.users__btn--save:hover {
  background-color: #199954;
}

/* ====================
COMPONENT: CLIENTS
==================== */
.clients {
  max-width: 1200px;
  width: 100%;
  padding: 1rem;
}

.clients__btn {
  color: #f0f0f0;
  background-color: #336699;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.clients__table th,
.clients__table td {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #dee2e6;
}

.clients__btn--edit {
  background-color: #ffc107;
  border: none;
  padding: 0.4rem;
  border-radius: 10px;
}

.clients__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: auto;
}

.clients__form > div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.clients__label {
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

.clients__input,
.clients__select {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
}

.clients__btn--save {
  width: 100%;
  background-color: #198754;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  transform: background-color 0.3s ease;
}

.clients__btn--save:hover {
  background-color: #199954;
}

/* ====================
COMPONENT: CATEGORIES
==================== */
.categories {
  max-width: 1200px;
  width: 100%;
  padding: 1rem;
}

.categories__btn {
  color: #f0f0f0;
  background-color: #336699;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.categories__table th,
.categories__table td {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #dee2e6;
}

.categories__btn--edit {
  background-color: #ffc107;
  border: none;
  padding: 0.4rem;
  border-radius: 10px;
}

.categories__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: auto;
}

.categories__form > div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.categories__label {
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

.categories__input,
.categories__select {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
}

.categories__btn--save {
  width: 100%;
  background-color: #198754;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  transform: background-color 0.3s ease;
}

.categories__btn--save:hover {
  background-color: #199954;
}

/* ====================
COMPONENT: BRANDS
==================== */
.brands {
  max-width: 1200px;
  width: 100%;
  padding: 1rem;
}

.brands__btn {
  color: #f0f0f0;
  background-color: #336699;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.brands__table th,
.brands__table td {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #dee2e6;
}

.brands__btn--edit {
  background-color: #ffc107;
  border: none;
  padding: 0.4rem;
  border-radius: 10px;
}

.brands__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: auto;
}

.brands__form > div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.brands__label {
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

.brands__input,
.brands__select {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
}

.brands__btn--save {
  width: 100%;
  background-color: #198754;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  transform: background-color 0.3s ease;
}

.brands__btn--save:hover {
  background-color: #199954;
}

/* ====================
COMPONENT: PRODUCTS
==================== */
.products {
  max-width: 1200px;
  width: 100%;
  padding: 1rem;
}

.products__btn {
  color: #f0f0f0;
  background-color: #336699;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.products__table th {
  text-align: center;
}

.products__table th,
.products__table td {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #dee2e6;
}

.products__btn--edit {
  background-color: #ffc107;
  border: none;
  padding: 0.4rem;
  border-radius: 10px;
}

.products__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: auto;
}

.products__form > div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.products__label {
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

.products__input,
.products__select {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
}

.products__btn--save {
  width: 100%;
  background-color: #198754;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
}

.products__btn--save {
  width: 100%;
  background-color: #198754;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  transform: background-color 0.3s ease;
}

.products__btn--save:hover {
  background-color: #199954;
}

/* ====================
COMPONENT: BUDGETS
==================== */
.budgets {
  max-width: 1200px;
  width: 100%;
  padding: 1rem;
}

.budgets__btn {
  color: #f0f0f0;
  background-color: #336699;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.budgets__table th {
  text-align: center;
}

.budgets__table th,
.budgets__table td {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #dee2e6;
}

.budgets__btn--edit {
  background-color: #ffc107;
  border: none;
  padding: 0.4rem;
  border-radius: 10px;
}

.budgets__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: auto;
}

.budgets__form > div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.budgets__label {
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

.budgets__input,
.budgets__select {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
}

.budgets__btn--save {
  width: 100%;
  background-color: #198754;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
}

.budgets__btn--save {
  width: 100%;
  background-color: #198754;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  transform: background-color 0.3s ease;
}

.budgets__btn--save:hover {
  background-color: #199954;
}

/* =============================
MEDIA QUERIES
============================= */
